DJANGO_SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=

DATABASE_NAME=livekit_softphone
DATABASE_USERNAME=livekit_softphone
DATABASE_PASSWORD=change-me
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432

JWT_ACCESS_TOKEN_LIFETIME=15
DEVICE_SESSION_ROTATION=True

LIVEKIT_URL=ws://202.51.182.173
LIVEKIT_API_KEY=change-me
LIVEKIT_API_SECRET=change-me

CHANNEL_LAYER_BACKEND=inmemory
REDIS_URL=redis://127.0.0.1:6379/0

PUBLIC_API_BASE_URL=https://api-softphone.example.com
CLOUDFLARE_TUNNEL_HOSTNAME=api-softphone.example.com

FCM_PROJECT_ID=livekit-softphone-mruhaq-6b385
FCM_CLIENT_EMAIL=change-me
FCM_PRIVATE_KEY=change-me
